.site-header {
 .main-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;

   .site-branding a img {
     width: 240px;
   }
   .main-navigation {
     display: none;
     @include mobile {
       display: block;
     }
     .menu-header-menu-container {
       width: 100%;

       ul.menu {
         display: flex;
         justify-content: flex-end;

         >li {
           padding: 15px 0;
           margin-left: 5%;

           &:hover {
             border-bottom: 2px solid $color__link-hover;
           }

           .sub-menu {
             padding: 25px;
             background: white;
           }
         }
         >li:last-child {
           a {
             background: #DCDCDC;
             padding: 2px 45px;
             border-radius: 25px;
           }

           &:hover {
             border-bottom: none;
           }
         }
       }
     }
   }
   .mobile-navigation {
     display: block;
     @include mobile {
       display: none;
     }
     .menu-toggle {
       display: block;
       height: 21px;
       box-sizing: border-box;

       span {
         display: flex;
         width: 24px;
         height: 2px;
         background: black;
         margin-bottom: 7px;
       }
     }
   }
 }

  .utility-bar {
    display: none;
    @include mobile {
      display: block;
    }

    nav.utility-bar_menu {
      width: 100%;

      ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;

        li {
          list-style: none;
          margin-left: 5%;
        }
        li a {
          text-decoration: none;
        }
      }
    }
    .search-form {
      position: relative;
      margin-left: 5%;

      label:before {
        font-family: "Font Awesome 5 Pro";
        color: #808080;
        content: "\f002";
        display: block;
        position: absolute;
        z-index: 3;
        top: 3px;
        left: 19px;
      }
      input[type="search"] {
        background: #DCDCDC;
        padding: 2px 20px 2px 45px;
        border-radius: 25px;
        width: 200px;
      }
      input[type="submit"] {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
      }
    }
  }
}

.admin-bar {
  .sidr {
    top: 46px;
    padding-bottom: 80px;
    @include mobile {
      top: 32px;
    }
  }
  #wpadminbar {
    position: fixed;
  }
}

.sidr-open,
.sidr-animating {
  left: 0!important;
  top: 0;
  position: static!important;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 100%;
  overflow: auto;
  padding-bottom: 50px;
  background: white;
  color: grey;
  .site-branding {
    display: none;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    clear: both;
    padding: 9px 19px;

    i {
      font-size: 27px;
      font-weight: 100;
    }
  }

  .sidr-inner:first-of-type {
    margin-top: 100px;
  }

  .sidr-inner:last-of-type {
    margin-top: 20px;
  }

  .sidr-inner {
    ul {
      padding: 0;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &.left {
    right: auto;
    left: -100%;
  }

  .menu {
    max-width: 300px;
    margin: 0 auto;
  }

  #primary-menu > li.menu-item:last-child {
    @extend button;
    width: 100%;
    margin-top: 30px;
    padding: 0;

    a {
      padding: 14px 20px;
    }
  }

  .menu-item {
    display: block;
    text-align: center;
    -webkit-font-smoothing: initial;

    a {
      display: block;
      padding: 22px 25px;
      font-size: 20px;
      &:hover {
        // color: $red;
      }
      &:focus {
        outline: none;
      }
    }
  }



  .menu-item-has-children {
    position: relative;
    i {
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px 10px 30px 30px;
    }
    ul {
      margin: 0px 0 15px!important;
      padding-top: 15px;
      transition: none;
      li {
        border-bottom: transparent;
        &.current-menu-item > a,
        &.current_post_parent > a,
        &.current_page_ancestor > a,
        &.current-menu-ancestor > a {
          color: black;
          text-decoration: underline;
        }
      }
      display: none;
      background: white;
      a {
        padding: 8px 25px;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        &:hover {
          background: white;
        }
      }
    }
  }
}