.team {
  .team-wrap {
    display: grid;
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    @include mobile {
      grid-template-columns: repeat(8, 1fr);
    }
    @include tablet {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  .team-wrap .single-member {
    grid-column: span 4;
    padding: 20px;
     a {
       text-decoration: none;
       margin-right: 10px;
     }
  }
}

.single-team {
  .single-team-phone, .single-team-email, .single-social-link {
    margin-right: 10px;
    text-decoration:none;
  }
}
