//Responsive Sizes
$mobile_width: 600px;
$tablet_width: 850px;
$desktop_width: 1024px;
$desktop_wide_width: 1280px;

//Menu-specific Breakpoints
$headerMenu: 940px;

@mixin mobile {
  @media (min-width: #{$mobile_width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet_width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}
@mixin desktop-wide {
  @media (min-width: #{$desktop_wide_width}) {
    @content;
  }
}

@mixin header-menu {
  @media (min-width: #{$headerMenu}) {
    @content;
  }
}

$size__site-main: 100%;
$size__site-sidebar: 25%;
