html {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #f4f4f4; /* Fallback for when there is no custom background color defined. */
}
.post, .page {
	margin: 0!important;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.container {
	max-width: 1200px;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

header {
	background-color: white;
	.container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 10px 0px;
		align-items: center;
		align-content: center;
		.site-branding {
			max-height: 50px;
			width: auto;
		 a, img {
				max-height: 50px;
				width: auto;
			}
		}
		p {
			margin: 0;
			font-weight: bold;
			font-size: 21px;
		}
	}
}

.site-footer {
	background-color: #1f2832;
	color: #fff;
	padding: 30px 0px;
}

.flex-content {
	padding: 80px 0 0;
//	border-bottom: 1px solid #b9b9b9;
	&:after {
		content: '';
		    border-bottom: 1px solid #ccc;
		    max-width: 1200px;
		    width: 100%;
		    display: block;
				margin: 100px auto 0;
	}
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
