

.container {
 	max-width: 1200px;
}

/*//////////////////////
	     Typography
 ///////////////////////*/

body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-family: Open Sans;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h1 {
	color: #000;
	font-family: Open Sans;
	line-height: 1.2;
	font-size: 60px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h2 {
	color: #000;
	font-family: Open Sans;
	line-height: 1.2;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h4 {
	color: #000;
	font-family: Asap;
	line-height: 1.2;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h5 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 21px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h6 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

a {
	color: #8224e3;
	font-family: Artifika;
	line-height: ;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

a:hover {
	color: #000;
	font-style: normal;
	text-decoration: none;
}

/*///////////////////////
	      Buttons
 ///////////////////////*/

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;

	background: ;
	border: 0px solid ;

	text-decoration: none;
}
.button:hover{
	background: transparent;
	broder-color: ;
}

.secondary-button {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;

	background: ;
	border: 0px solid ;

	text-decoration: none;
}
.secondary-button:hover{
	background: transparent;
	broder-color: ;
}

/*///////////////////////
	        FORMS
 ///////////////////////*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: ;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: px;
	text-decoration: ;
	text-transform: none;

	padding: ;
	border:0px solid ;
}

/*///////////////////////
	    Header Logo
 ////////////////////////*/

.main-header{
	background:;
}
.site-branding{
	width:px;
}
