
<!-- Typography -->

body,
button,
input,
select,
optgroup,
textarea {
	color: #cc269f;
	font-family: Amiko;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h1 {
	color: #d0db0d;
	font-family: Aref Ruqaa;
	line-height: 1.2;
	font-size: 60px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h2 {
	color: #353ca0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 48px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h3 {
	color: #113ca0;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h4 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h5 {
	color: #9815af;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 21px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}

h6 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0px;
	text-decoration: none;
	text-transform: none;
}
