.flip-card-block{
	.card{
		background-color: transparent;
		height: 300px;
		.card-inner{
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			.front,
			.back{
				position: absolute;
				width: 100%;
				height: 100%;
				padding:20px;
				.button{
					margin:auto;
				}
			}
		}

		/*Rotate*/
		&.flip-card{
			perspective: 1000px; /* Remove this if you don't want the 3D effect */
			&:hover,
			&:active{
				.card-inner{
					transform: rotateY(180deg);
				}
			}
			.card-inner{
				transition: transform 0.8s;
				transform-style: preserve-3d;
				.front,
				.back{
					position: absolute;
					width: 100%;
					height: 100%;
					-webkit-backface-visibility: hidden; /* Safari */
					backface-visibility: hidden;
					padding:20px;
				}
				.back{
					transform: rotateY(180deg);
					
				}
			}
		}
			
		/*Slide*/
		&.slide-card{
			.card-inner{
				overflow: hidden;
				&:hover{
					.back{
						transform: translateY(0);
					}
    			}	
			}

			.back{
				transform: translateY(100%);
    			transition: transform 500ms;
    			
			}	
		}

		/*Push*/
		&.push-card{
			.card-inner{
				overflow: hidden;
				&:hover{
					.front{
						transform: translateY(-100%);
					}
					.back{
						transform: translateY(0);
					}
    			}	
				.front{
					transform: translateY(0);
	    			transition: transform 500ms;
				}
				.back{
					transform: translateY(100%);
	    			transition: transform 500ms;
	    			
				}	
			}
		}
	}
}