.image-callout-block{
	.image-callout-wrapper{
		.image-wrapper{
			display: flex;
		}
		.content-wrapper{
			padding:20px;
			text-align: center;
			&.left{
				text-align:left;
			}
			&.right{
				text-align:right;
			}
		}
	}
	
}