.social-share-block{
	.social{
		display: flex;
		flex-direction: row;

		.social-button{
			font-size: 2em;
			margin-right:1.5%;
			&:last-of-type{
				margin-right:0;
			}
		}

		&.vertical{
			flex-direction: column;
			.social-button{
				margin-top: 1%;
				&:first-of-type{
					margin-top:0;
				}
			}
		}
	}
}